@import url("https://use.typekit.net/erm4cev.css");



.title{
  font-family: "Tenon", serif !important;
}


h4 {
    font-size: 2em !important;
    font-family: "Tenon", serif !important;
}


.description.text{
 font-family: "Futura PT", sans-serif !important;
  
}
