@import url("https://use.typekit.net/erm4cev.css");



.title{
  font-family: "Tenon", sans-serif !important;
}


h4 {
    font-family: "Tenon", sans-serif !important;
}


.description.text{
 font-family: "futura-pt", sans-serif !important;
 text-transform: lowercase !important;
 font-style: italic !important;
  
}

.text{
 font-family: "futura-pt", sans-serif !important;
 text-transform: lowercase !important;
 font-style: italic !important;
}

h2{
  font-family: "Tenon", sans-serif !important;
}
